.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-input {
    margin: 1em
}

.sUButt {
    color: white;
    background-color: brown;
    font-size: 1.5em;
    padding: .5em;
}

.hover:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hover {
    color: bisque;
    background: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}