.reviews {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    gap: 5px;
}

.reviews h4,
.reviews h5,
.reviews p {
    margin: 0;
}

.pageButt {
	padding: 10px 20px;
	background-color: brown;
	color: bisque;
	border: none;
	cursor: pointer;
    margin-bottom: 0;
}

.stars {
    color: black;
    font-size: xx-large;
}


.stars:hover {
    cursor: pointer;
}