html {
	background-color: bisque;
	font-family: "Times New Roman", Times, serif;
}

.login-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	background-color: bisque;
	padding: 5em;
	padding-top: 3em;
}

.login {
	color: brown;
	text-decoration: underline;
}

.lgLabel {
	margin-top: .3rem;
	margin-bottom: .3rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	width: 120%;
}

[type="submit"]:disabled {
	cursor: auto;
	color: white;
	background-color: #696969;
	font-size: 1.5em;
	height: 2.2em;
	text-align: center;
}

.lIButt {
	color: white;
	background-color: brown;
	font-size: 1.5em;
	padding: 0.5em;
	height: 2.2em;
	text-align: center;
	width: 100%
}

.lIButt:hover {
	cursor: pointer;
}

